@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("../fonts/TTLakes/TTLakes-Bold"), url("../fonts/TTLakes/TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes/TTLakes-Bold.woff") format("woff"), url("../fonts/TTLakes/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("../fonts/TTLakes/TTLakes-Medium"), url("../fonts/TTLakes/TTLakes-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes/TTLakes-Medium.woff") format("woff"), url("../fonts/TTLakes/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("../fonts/TTLakes/TTLakes-Regular"), url("../fonts/TTLakes/TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes/TTLakes-Regular.woff") format("woff"), url("../fonts/TTLakes/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'TT Lakes', sans-serif;
  color: #1b1c21;
  background-color: #f8f8f8;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  opacity: 0;
}

.brands__title {
  margin-bottom: 16px;
}

.title {
  border-top: 1px solid #d9fff5;
  background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
}

.title__text {
  margin: 0;
  padding: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  font-weight: normal;
  color: #7e7e82;
}

.cards__item {
  margin-right: 16px;
  padding: 0 16px;
  width: 240px;
  height: 72px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  cursor: pointer;
}

.button {
  width: 40px;
  height: 40px;
  border: 2px solid #ff3e79;
  border-radius: 20px;
  background: url(../img/dropdown.svg) center no-repeat;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.card:hover>.button {
  transition: transform 0.25s ease;
  transform: scale(1.05) rotate(90deg);
}

.show-more {
  display: none;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  cursor: pointer;
  transition: color 0.25s ease;
}

.show-more:hover {
  color: #ff3e79;
  transition: color 0.25s ease;
}

.show-more::before {
  content: url(../img/expand.svg);
  width: 24px;
  height: 24px;
  margin-right: 8px;
  transition: transform 0.25s;
}

.show-more--active::before {
  transform: rotate(-180deg);
  transition: transform 0.25s;
}

.fade {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 24px;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.swiper-container {
  padding-left: 16px;
  padding-bottom: 24px;
}

.swiper-wrapper {
  position: static;
  margin-bottom: 16px;
}

.swiper-pagination-bullet {
  background-color: #dddddd;
  width: 12px;
  height: 12px;
  opacity: 1;
  margin: 0 12px;
}

.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}

@media (min-width: 768px) {
  .brands__title {
    margin-bottom: 24px;
  }

  .title__text {
    margin: 0 auto;
    padding: 16px 24px;
    max-width: 768px;
  }

  .fade {
    display: none;
  }

  .swiper-pagination {
    display: none;
  }

  .swiper-container {
    padding: 0 24px;
    margin-bottom: 24px;
  }

  .swiper-collapsed {
    max-height: 160px;
    transition: max-height 0.1s linear;
  }

  .swiper-expanded {
    max-height: 1000px;
    transition: max-height 0.1s linear;
  }

  .swiper-wrapper {
    margin: 0;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 16px;
    column-gap: 24px;
  }

  .cards__item {
    margin: 0;
    width: 224px;
  }

  .brands__show-more {
    display: flex;
    padding: 0;
    margin-left: 24px;
  }

  .brands_container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1120px) {
  .title__text {
    margin: 0 auto;
    padding: 16px 32px;
    max-width: 1120px;
  }

  .swiper-container {
    padding: 0 32px;
  }

  .brands_container {
    max-width: 1120px;
    margin: 0 auto;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 16px;
    column-gap: 32px;
  }

  .cards__item {
    margin: 0;
    width: 240px;
  }

  .brands__show-more {
    margin-left: 32px;
  }
}